<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Askme</title>
    <link rel="stylesheet" href="/gureva_vika_web13_DZ1/static/css/index.css"/>


</head>


<body>
    <header class ="header">
        <div class="logo">AskPupkin</div>
<div class="search">
    <input type="text">
    <button class="search_button">ASK!</button>
</div>

<div class="account">
    <div class="account_image">
        <img src="img.jpg">
    </div>
        <div class="account_content">
        <div>Dr. Pepper</div>
            <div>
                <a href="/settings.html">Settings</a>
                <a href="logout.html">Log out</a>
            </div>

        </div>
    </div>
</div>
    </header>



<main class="container">

    <div class="heading">
        <h1>New Questions</h1>
        <a href="/hot.html">Hot Questions</a>
    </div>

    <div class="content">
        <section class="cards">
            
            <article class="card">

                <div class="card_side">
                    <img src="img.jpg" alt="">
                    <input type="number" value="5">
                </div>

                <div class="card_content">

                    <div class="card_body">
                        <h5 class="card_title"><a href="/question.html">Question?</a></h5>
                        <div>
                            KJNKLJKO:klkjekldnkdnmcdlckoiwjdslkxmksnckdcmkdnc
                        </div>
                    </div>

                    <div class="card_footer">
                        <a href="/question.html">answer (3)</a>
                        <div class="card_tags">
                            <span>Tags</span>
                            <a href="/tag.html">tag</a><a href="/tag.html">tag</a>
                            
                        </div>
                    </div>

                </div>
            </article>
            <article class="card">

                <div class="card_side">
                    <img src="img.jpg" alt="">
                    <input type="number" value="5">
                </div>

                <div class="card_content">

                    <div class="card_body">
                        <h5 class="card_title"><a href="/question.html">Question?</a></h5>
                        <div>
                            KJNKLJKO:klkjekldnkdnmcdlckoiwjdslkxmksnckdcmkdnc
                        </div>
                    </div>

                    <div class="card_footer">
                        <a href="/question.html">answer (3)</a>
                        <div class="card_tags">
                            <span>Tags</span>
                            <a href="/tag.html">tag</a><a href="/tag.html">tag</a>
                            
                        </div>
                    </div>

                </div>
            </article>
            




        </section>
        <aside></aside>    
    </div>


</main>

</body>
</html>